<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.test.mycity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCity">
        <activity
            android:name=".PodrobnoeobrasheniyeActivity"
            android:exported="true" />
        <activity
            android:name=".SigninActivity"
            android:exported="true" />
        <activity
            android:name=".SelectMapActivity"
            android:exported="true" />
        <activity
            android:name=".ObrasheniyaVyborActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".CodeAccountActivity"
            android:exported="true" />
        <activity
            android:name=".Menu2pogodaActivity"
            android:exported="true" />
        <activity
            android:name=".AccountRedActivity"
            android:exported="true" />
        <activity
            android:name=".ObrasheniyaPhotoActivity"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".AccountActivity"
            android:exported="true" />
        <activity
            android:name=".MoiObrActivity"
            android:exported="true" />
        <activity
            android:name=".ObrasheniyaActivity"
            android:exported="true" />
        <activity
            android:name=".MapPoiskActivity"
            android:exported="true" />
        <activity
            android:name=".CodephoneActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>